<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" *ngFor="let task of tasks">
                    {{ task }}
                </li>
            </ul>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <ng-content></ng-content>
    </div>
    <div class="card">
        <div class="card-body">
            <input type="text" name="Parent" id="Parent" #parentData>
            <button (click)="SendDataToParent(parentData.value)"  class="mb-3">Send Data to Parent</button>
        </div>
    </div>
    <div class="card">
        <ul>
            <li *ngFor="let arr of arrObjectObs$ | async">
                {{ arr.id }} : {{ arr.name }} : {{ arr.age }}
            </li>
        </ul>
    </div>
</div>