<div class="container">
    <p>parent works!</p>
    <h5><b>From Child component</b></h5>
    <div class="child"> {{ parentComponentData}} </div>

    <h5> Send data to Child component using Services</h5>
    <button (click)="SendDataService()" class="btn btn-primary">Send Data Using Service</button>
    <app-child (fromChildComponent)="GetDataFromChildComponent($event)" [fromParentComponent]="childComponentData">
        <div class="content1">This is a ng content1</div>
        <div id="content2">This is a ng content2</div>
    </app-child>
</div>